body{
    background: url(trainStation.jpg);
    margin: auto;
    padding: 20%;
    background-size: cover;
    color: black;
    text-align: center;
    transform: scale(1.2)
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

button {
    background-color: red;
    color: white;
    font-weight:bold;
    display: block;
    margin: auto;
    margin-top: 3px;
    border: none;   
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
    transition: all;
    
}

button:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
}

#increment-btn {
    background-color: darkred;
    
}

#save-btn{
    background-color: green;
}

p { 
    color: darkred;
    font-weight: bold;
}